<%= form_for(@matrix_value) do |f| %>
  <% if @matrix_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matrix_value.errors.count, "error") %> prohibited this matrix_value from being saved:</h2>

      <ul>
      <% @matrix_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matrix_param_id %><br />
    <%= f.number_field :matrix_param_id %>
  </div>
  <div class="field">
    <%= f.label :value_id %><br />
    <%= f.number_field :value_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :is_chosen %><br />
    <%= f.check_box :is_chosen %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
