<%= form_for(@matrix_param) do |f| %>
  <% if @matrix_param.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matrix_param.errors.count, "error") %> prohibited this matrix_param from being saved:</h2>

      <ul>
      <% @matrix_param.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :matrix_config_id %><br />
    <%= f.number_field :matrix_config_id %>
  </div>
  <div class="field">
    <%= f.label :parameter_id %><br />
    <%= f.number_field :parameter_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
