<!--
<h1>Create a new Parameter or Select parameter from system parameters && group parameters	</h1>
<%= form_for(@matrix_param) do |f| %>


  <div class="field">
    <%= f.label :matrix_config_id %><br />
    <%= f.number_field :matrix_config_id %>
  </div>
 <div class="field">
    <%= f.label :parameter_id %><br />
   <input name="name"/>

 <select name="sysparameter_id">
   <option value="0"></option>
   <% if @sysparameters!=nil and @group != nil  %>
   <% @sysparameters.each do |sysparameter| %>

   <option value="<%= sysparameter.id %>"><%= sysparameter.name %>(<%=sysparameter.values.count%>)</option>
  
   <% end %>
 <% @group.group_parameters.each do |groupparameter| %>
   <option value="<%= groupparameter.parameter.id %>"><%= groupparameter.parameter.name %>(<%=groupparameter.parameter.values.count%>)</option>
   <% end %>
   <% end %>
</select>
  </div>

 <div class="field">
    <%= f.label :weight %><br />
   <input name="weight"/>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', matrix_params_path(:matrix_config_id=>@matrix_param.matrix_config_id) %>
-->


<!--
<section style="height: 1728px;" id="main" class="column">
<div class="clear"></div>
<%= form_for(@matrix_param) do |f| %>	
	<article class="module width_full">
			<header><h3>Create a new Parameter or Select parameter from system parameters && group parameters</h3></header>
				<div class="module_content">
				
					<fieldset>
							<%= f.label :matrix_config_id %>
							<%= f.number_field :matrix_config_id %>
						</fieldset>
						<fieldset>
 <%= f.label :parameter_id %>
   <input name="name"/>

 <select name="sysparameter_id" style="width: 20%;">
   <option value="0"></option>
   <% if @sysparameters != nil and @group != nil %>
   <% @sysparameters.each do |sysparameter| %>

   <option value="<%= sysparameter.id %>"><%= sysparameter.name %>(<%=sysparameter.values.count%>)</option>
   
   <% end %>
 <% @group.group_parameters.each do |groupparameter| %>
   <option value="<%= groupparameter.parameter.id %>"><%= groupparameter.parameter.name %>(<%=groupparameter.parameter.values.count%>)</option>
   <% end %>
   <% end %>
</select>
							
						
						</fieldset>
						<fieldset style="width: 48%; float: left; margin-right: 3%;"> 
							 <%= f.label :weight %>
   <input name="weight"/>
						</fieldset>
						<fieldset style="width: 48%; float: left;"> 
							 <%= f.label :status %>
							 <%= f.number_field :status %>
						</fieldset><div class="clear"></div>

				</div>
			<footer>
				<div class="submit_link">
					<div class="actions">
					    <%= f.submit %>&nbsp;&nbsp;&nbsp;<input value="Reset" type="submit">
					  </div>

					
				</div>
			</footer>
		</article>
<% end %>
</section>
-->

<div class="pageContent">
	<%= form_for(@matrix_param,:html=>{:class=>"pageForm",:target=>"dialog",:onsubmit=>" return  navTabSearch(this)" }) do |f| %>

		<div class="pageFormContent" layoutH="50">


				 <%= f.hidden_field :matrix_config_id ,:size=>"20",:class=>"required"%>	

			<div class="unit">
				<label>ParameterName：</label>
				<input name="name" class="textInput" size="15"/>
			
				<label>or</label>
				<select  class="combox"  name="sysparameter_id">
				   <option value="0">select from system</option>
                                   <% if @sysparameters != nil and @group != nil %>
				   <% @sysparameters.each do |sysparameter| %>

				   <option value="<%= sysparameter.id %>"><%= sysparameter.name %>(<%=sysparameter.values.count%>)</option>
				   <% end %>

				<!--do by chuangye <% @group.group_parameters.each do |groupparameter| %>
				   <option value="<%= groupparameter.parameter.id %>"><%= groupparameter.parameter.name %>(<%=groupparameter.parameter.values.count%>)</option>
				   <% end %>-->
				   <% end %>
				</select>

 			</div>
          <!--
			<div class="unit">
				<label>Weight</label>
				  <input name="weight" size="15" class="required"/>
                                 
				  	
			</div>

			<div class="unit">
				<label>Status</label>
				
				<select class="combox" name="status">

					<option value="0" checked="true" >Enable</option>
					<option value="1" >Disable</option>

				</select>
			</div>
	 -->
			
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"> <%= f.button(value="Submit",:type=>"submit") %></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">Cancel</button></div></div></li>
			</ul>
		</div>
	<% end %>
	
</div>





