<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @group_parameter.group_id %>
</p>

<p>
  <b>Parameter:</b>
  <%= @group_parameter.parameter_id %>
</p>

<p>
  <b>Status:</b>
  <%= @group_parameter.status %>
</p>


<%= link_to 'Edit', edit_group_parameter_path(@group_parameter) %> |
<%= link_to 'Back', group_parameters_path %>
