<!--
<h1>Editing matrix_config</h1>

<%= form_for(@matrix_config) do |f| %>

<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :version_id %><br />
    <%= f.number_field :version_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





<%= link_to 'Show', @matrix_config %> |
<%= link_to 'Back', matrix_configs_path(:group_id=>@matrix_config.group_id) %>
-->
<div class="pageContent">
	<%= form_for(@matrix_config,:html=>{:class=>"pageForm required-validate",:target=>"navTab",:rel=>@matrix_config.name,:onsubmit=>"return validateCallback(this)"}) do |f| %>

		<div class="pageFormContent" layoutH="50">
			<div class="unit">
				<label>MatrixName：</label>
				<%= f.text_field :name,:size=>"20",:class=>"required" %>

			</div>

				    <%= f.hidden_field :group_id %>

	<!--		<div class="unit">
				<label>Status</label>
				
				<select class="combox" name="status">

					<option value="0" checked="true" >Enable</option>
					<option value="1" >Disable</option>

				</select>
			</div>
	
			<div class="unit">
				<label>ProjectVersion</label>
				<select class="combox" name="project">					
					<option value="<%=@matrix_config.version_id%>"><%=@matrix_config.version_id%></option>					
				</select>
			</div>
	-->		
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"> <%= f.button(value="Submit",:type=>"submit") %></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">Cancel</button></div></div></li>
			</ul>
		</div>
	<% end %>
	
</div>
